<h1>Welcome to my Movies</h1>

<br><br><br><br>

<h2>New Users? <%= link_to "Sign Up Now!", new_user_path %><h2>


<br><br><br><br>
<h2>Existing User? <%= link_to "Sign in Here", signin_path %></h2>

<br><br><br><br>
<h2> <%= link_to "View Upcoming Events", events_path %></h2>

<br><br><br><br>
<h2><%= link_to "View Venues", venues_path %></h2>